
.box {
    height: 200px;
    width: 550px;
    background-color: turquoise;
    position: relative;
}

.flex-box {
    border: hidden;
    position: relative;
}

.flexbox-one {
    padding: 2%;
    display: flex; /*this displays the boxes in a row*/
    justify-content: space-evenly;
}

.boxtwo {
    height: 525px;
    width: 1737px;
    background-color: turquoise;
    position: relative;
}

.flexbox-two {
    display: flex;
    justify-content: space-evenly;
}

.boxthree {
    background-color: lightgreen;
    height: 20px;
    width: 1737px;
    position: relative;
}

.flexbox-three {
    padding: 1%;
    display: flex;
    justify-content: space-evenly;
}

.redone {
    height: 50px;
    width: 50px;
    background-color: rgb(218, 105, 124);
    border-radius: 50%;
    position: absolute;
    top: 50px;
    left: 150px;
}

.redtwo {
    height: 50px;
    width: 50px;
    background-color: rgb(218, 105, 124);
    border-radius: 50%;
    position: absolute;
    top: 200px;
    left: 150px;
}

.redthree {
    height: 50px;
    width: 50px;
    background-color: rgb(218, 105, 124);
    border-radius: 50%;
    position: absolute;
    top: 70px;
    left: 800px;
}

.redfour {
    height: 150px;
    width: 150px;
    background-color: rgb(218, 105, 124);
    border-radius: 50%;
    position: absolute;
    top: 180px;
    left: 570px;
}

.yellowone {
    height: 50px;
    width: 50px;
    background-color: rgb(233, 233, 66);
    border-radius: 50%;
    position: absolute;
    top: 350px;
    left: 350px;
}

.yellowtwo {
    height: 150px;
    width: 150px;
    background-color: rgb(233, 233, 66);
    border-radius: 50%;
    position: absolute;
    top: 50px;
    left: 400px;
}

.pyramidone {
    height: 0;
    width: 0;
    border-left: 300px solid transparent;
    border-right: 300px solid transparent;
    border-bottom: 620px solid rgb(16, 117, 16);
    position: absolute;
    bottom: 0%;
    left: 900px;
}

.pyramidtwo {
    height: 0;
    width: 0;
    border-left: 250px solid transparent;
    border-right: 250px solid transparent;
    border-bottom: 420px solid lightgreen;
    position: absolute;
    bottom: 0%;
    right: 0%;
}

@media (max-width: 700px) {

    .flex-box {
        flex-direction: column;
    }

}